@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* border: 1px solid black; */
 
}

::-webkit-scrollbar{
 display: none;
 /* color: rgb(98, 135, 236);
 color: rgb(247, 107, 107);
 color: rgb(233, 230, 230);
  */
}


/* ::-webkit-scrollbar-track{

}

::-webkit-scrollbar-thumb{

} */